@model IEnumerable<PurchaseOrder.Services.Models.POMasterModel>

@{
    ViewBag.Title = "Home";
}

<h2>Purchase Orders</h2>

<p>
    @Html.ActionLink("Create New Order", "Save")
</p>
<table class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PONo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PODate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terms)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PONo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PODate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyMaster.PartyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>
            <td>
                @Html.ActionLink("Edit", "Save", new { id = item.POID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.POID })
            </td>
        </tr>
    }

</table>
